body {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 200px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.header {
  grid-column: 1/3;
}

.grid div {
  background-color: red;
}
